{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Phone Shop{% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/productIndex.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% include '../navigations/navbar.html' %}
    <!--  -->
    <section class="Block-Con" data-aos="zoom-in" data-aos-duration="1000">
      <div class="text-content">
        <a href="" class="left">
          <h3>
            <span class="txt-br">Oppo</span>
            <span class="dynamic-wrapper">
              <span class="dynamic-text visible">Mobile</span>
              <span class="dynamic-text hidden">Tablet</span>
              <span class="dynamic-text hidden">Watch</span>
              <span class="dynamic-text hidden">Accessory</span>
            </span>
          </h3>
        </a>
        <!-- <a class="btn-view" href="">
          View All<i class="fa-solid fa-chevron-right"></i>
        </a> -->
      </div>
      <hr />

      <div class="grid">
        <!-- The wrapper for product cards -->
        {% for product in Oppo_phones %}
        <div class="product-card">
          <a href="{% url 'single_product' product.id %}">
            <img
              src="{{ product.image.url }}"
              alt="{{ product.name }}"
              class="product-image"
            />
          </a>

          <div class="price-container">
            {% if product.discountPercentange %}
            <div class="original-price" style="text-decoration: line-through">
              ${{ product.price }}
            </div>
            <div class="discounted-price">${{ product.discounted_price }}</div>
            {% else %}
            <div class="price font-bold underline">${{ product.price }}</div>
            {% endif %}
          </div>
          <!-- Product Details -->
          <div class="product-details">
            <div class="product-name">{{ product.name }}</div>
            <div class="product-description">{{ product.description }}</div>
          </div>
          <!-- Add to Cart Button -->
          <a
            href="#"
            class="add-to-cart"
            data-product="{{ product.id}}"
            data-action="add"
          >
            Add to Cart
            <span class="hover-line"></span>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>

    {% include '../footer/footer.html' %}
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/productIndex.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
