/* Wave container styles */
.wave-container {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
  /* margin-top: -320px; */
  pointer-events: none;
}

/* SVG container */
.wave-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.wave-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(3.5);
  transform-origin: bottom;
}

@media (min-width: 768px) {
  .wave-svg {
    transform: scaleY(3) scaleX(2.25);
  }
}
/* footer content */
/* Footer Container */
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  background-color: black;
  color: #fff;
  flex-wrap: wrap;
  gap: 20px;
}

/* Footer Section */
.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9em;
  margin: 5px 0;
}

/* Social Links */
.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #f4a261;
}

/* Footer Bottom */
.footer-bottom {
  /* background-color: #222; */
  background-color: black;
  padding: 10px 0;
  text-align: center;
  color: #ccc;
  font-size: 0.8em;
}

.footer-bottom p {
  margin: 0;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
  }

  .footer-section {
    text-align: center;
    margin-bottom: 20px;
  }
  .social-links {
    justify-content: center;
  }

  .footer-bottom {
    padding: 15px 0;
  }
}

@media (max-width: 480px) {
  .footer-content {
    margin-top: -20px;
  }
  .social-links {
    justify-content: center;
  }

  .social-links a {
    font-size: 1.2em;
  }
}
