{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="name-cu">
        {% if customer and customer.name != "Guest" %}
        <p>Hii, {{ customer.name }}</p>
        {% else %}
        <!-- <p>Welcome, Guest!</p> -->
        {% endif %}
      </div>
      <ul class="nav-list">
        <!-- Logo -->
        <li class="nav-logo">
          <a href="{% url 'homepage' %}"><h2 class="name">Phone Shop</h2></a>
        </li>

        <!-- Search and Features -->
        <li class="feature">
          <div class="search">
            <form action="">
              <input
                type="search"
                placeholder="Search Product..."
                class="search-input"
              />
            </form>
          </div>

          <!-- view cart -->
          <div class="cart-container">
            <div class="cart-items">
              {% for item in cart_items %}
              <div class="cart-item">
                <img
                  src="{{ item.product.image.url }}"
                  alt="{{ item.product.name }}"
                />
                <p>
                  {{ item.product.name }} - ${{ item.product.price }} (x{{
                  item.quantity }})
                </p>
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- end  view cart -->
          <div class="cart-login">
            <!-- Cart -->
            <div class="cart_header">
              <div onclick="openCart()" class="icon_cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="count_item" id="cart-count">0</span>
              </div>
            </div>

            <!-- Login -->

            <div class="loging">
              {% if customer and customer.name != "Guest" %}
              <a href="" id="logoutBtn"
                >Logout <i class="fa-solid fa-right-to-bracket"></i
              ></a>

              {% else %}
              <a href="{% url 'loginpage' %}">
                login <i class="fa-solid fa-right-to-bracket"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </li>
        <!-- Burger Menu -->
        <div class="burger-menu" onclick="toggleHamburgerMenu()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <!-- Hamburger Menu for Small Screens -->
        <div class="hamburger-menu">
          <ul class="menu-list">
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'all_phones' %}">All Products</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" id="dropdown-toggle">
                Brand
                <i id="icon" class="fa-solid fa-caret-down"></i>
              </a>
              <ul class="submenu" id="submenu">
                <li><a href="">Apple</a></li>
                <li><a href="">Samsung</a></li>
                <li><a href="">Oppo</a></li>
                <li><a href="">Vivo</a></li>
              </ul>
            </li>
            <li><a href="contact.php">Contact</a></li>
            <li id="log"><a href="contact.php">Login</a></li>
          </ul>
        </div>

        <!-- Navigation Links -->
      </ul>
      <div class="nav-menu">
        <ul class="menu-list">
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'all_phones' %}">All Products</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)"
              >Brand
              <i class="fa-solid fa-caret-down" style="margin-left: 5px"></i>
            </a>

            <ul class="submenu">
              <li><a href="{% url 'brand_iphone' %}">Apple</a></li>
              <li>
                <a href="{% url 'brand_samsung' %}">Samsung</a>
              </li>
              <li><a href="{% url 'brand_oppo' %}">Oppo</a></li>
              <li>
                <a href="{% url 'brand_vivo' %}">Vivo</a>
              </li>
            </ul>
          </li>
          <li><a href="{% url 'about' %}">About Us</a></li>
        </ul>
      </div>
    </nav>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document
        .getElementById("logoutBtn")
        .addEventListener("click", function (event) {
          event.preventDefault();
          Swal.fire({
            title: "Are you sure bro?",
            text: "You want to logout?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, Logout!",
          }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire({
                title: "Notification!",
                text: "You have successfully logged out!🤡💩",
                icon: "success",
                timer: 2000,
                showConfirmButton: false,
              }).then(() => {
                window.location.href = "{% url 'logout' %}";
              });
            }
          });
        });
    </script>
  </body>
</html>
